

body{
    padding-top: 20px;
}
/* Featurettes
------------------------- */
.container{
    margin-left: 40px;
    margin-right: 40px;
}
.ratings {
    padding-left: 5px;
    color: #d17581;
    font-size: 15px;
}
.glyphicon {
    color: #d17581;
}
.featurette-divider {
    margin: 40px 0; /* Space out the Bootstrap <hr> more */
    margin-left: 40px;
    margin-right: 40px;


}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.well{
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
.col-md-12{
    padding-left: 10px;
    padding-right: 10px;
}

@media{
    .featurette {
        padding-left: 40px;
        padding-right: 40px;
    }
    .well{
    padding-left: 40px;
    padding-right: 40px;
}
}
@media (min-width: 768px) {
  .featurette-heading {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 50px;
  }
}
