{% load cms_tags sekizai_tags %}
{% load menu_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">

      {% render_block "css" %}
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
      {% cms_toolbar %}
      <ul class="nav navbar-nav">
{#        {% show_menu 0 1 100 100 "menu.html" %}#}
          {% show_menu 0 1 100 100 %}
          {% show_sub_menu %}
          {% show_breadcrumb %}
      </ul>
      {% placeholder base_content %}
      {% block base_content %}{% endblock %}
      {% render_block "js" %}
      <footer>
        {% static_placeholder 'footer' %}
      </footer>
  </body>
</html>
