{% load cms_tags sekizai_tags %}
{% load menu_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>{% page_attribute "page_title" %}</title>
      {% render_block "css" %}
  </head>
  <body>
      {% cms_toolbar %}
      <ul class="nav navbar-nav">
{#        {% show_menu 0 1 100 100 "menu.html" %}#}
          {% show_menu 0 1 100 100 %}
          {% show_sub_menu %}
          {% show_breadcrumb %}
      </ul>
      {% placeholder base_content %}
      {% block base_content %}{% endblock %}
      {% render_block "js" %}
      <footer>
        {% static_placeholder 'footer' %}
      </footer>
  </body>
</html>
